<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <% if (locals.blogs) { %>
            <div class="container mt-5">
                <% blogs.forEach(blog=>{ %>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= blog.coverImageURL %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                    <% })%>
            </div>
            <% } %>
                <%- include('./partials/scripts') %>
</body>

</html>